<div class="absolute top transparent-well--narrow full-width text-right">
    <span class="text-white text-bigger">Not a member?</span>
    <a ui-sref="security" class="btn btn-primary btn-lg ml-15 capitalize">Register Now!</a>
</div>
<div class="fcol-md-5 fcol-md-offset-1">
    <div class="transparent-well">
        <form method="post" action="#" class="login-form">
            <div class="form-group">
                <input type="text" class="input--big full-width" name="name" placeholder="Username...">
            </div>
            <div class="form-group">
                <input type="password" class="input--big full-width" name="password" placeholder="Password...">
            </div>
            <div class="checkbox checkbox-white">
                <label>
                    <input type="checkbox" name="rememberMe"> Remember Me
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-big capitalize">Log In</button>
        </form>
        <!--<small class="inline-block no-mb mt-25">Never share your personal info with anyone. Check out our <a href="#">Privacy Policy</a> for more information.</small>-->
    </div>
</div>
<div class="fcol-md-5">
    <div class="transparent-well">
        <h3 class="text-white no-mt">Login Hints</h3>
        <ul class="list-unstyled text-white text-bigger no-margin">
            <li class="list-item">
                <i class="icon-earth icon-lg app-icon"></i>
                Don't forget check if you are on good website
            </li>
            <li class="list-item">
                <i class="icon-shield icon-lg app-icon"></i>
                Every time check for <b>HTTPS</b> certificate
            </li>
            <li class="list-item">
                <i class="icon-users icon-lg app-icon"></i>
                Never share Your login credentials with other users
            </li>
            <li class="list-item">
                <i class="icon-cogs icon-lg app-icon"></i>
                You can setup Your profile privacy
            </li>
        </ul>
    </div>
</div>